/*Global CSS File*/
.banner-text{
    background: rgba(245, 11, 11, 0.6);
    width: 75%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10vh;
}

.banner-text h1{
    font-family: candara;
    font-size: 50px;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    vertical-align: top;
    opacity: 2;
 
}

.banner-text p{
    
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color:rgba(233, 225, 225, 0.945);
    
}

.header-text{
    font: Arial;
    font-size: 20px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.header-text:hover{
    font: Arial;
    font-size: 20px;
    color: pink;
}

.profile-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.profile-links i{
    color: white;
    font-size: 7em;
}

.Landing{

    background: url(./images/marble_bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
    flex: 0;
}

