.compare-title{
    background: rgba(245, 11, 11, 0.6);
    width: 50%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;

}

.compare-title h1{
    font-size: 4em;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    text-align: center;
    font: Verdana;

}

.compare{
    background: rgba(245, 11, 11, 0.6);
    width: 100%;

    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.compare h1{
    font-size: 3em;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    text-align: center;
    font: Verdana;

}

.compare p{
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    text-align: center;
    font: Verdana;

}

.compare-title label{
    font-size: 2em;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
    text-align: center;
    font: Verdana;

}

.compare-title form{
    text-align: center;
}